{% extends 'base.html.twig' %}

{% block title %}nouvel Avis% endblock %}

{% block body %}
   

    {{ include('opinion/_form.html.twig') }}

    <a href="{{ path('opinion_index') }}">back to list</a>
{% endblock %}
